<!doctype html>

<html>
	<!-- fixed position navibar on top of screen -->
	<nav id="feelzTitleBar" class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<!-- navibar title -->
				<a class="navbar-brand" href="/"><b><img class="logoImg" src="/images/logo.png" alt="FeelzApp"></b></a>
			</div>
		</div>
	</nav>
</html>