<!doctype html>

<html>

	<div id="popup_container_form">
		<div id="newpost_form">
			<form class="newPostForm" id="newPostForm" name="newPostForm" onsubmit="return submitNewPost(this)">
				<!-- add post title -->
				<input id="newPostTitle" name="newPostTitle" placeholder="Post Title" type="text" required autofocus><br/>
				<!-- add text box -->
				<textarea id="newPostContent" name="newPostContent" placeholder="Enter text here" required autofocus></textarea>
				<div id="newPostButtons" class="row">
					<!-- this feature takes up 6 column units -->
					<div class="col-sm-2 pull-left">
							<!-- Single button dropdown menu for choosing category -->
							<select type="button" class="form-control" id="newPostCategory" required autofocus>
								<option value="">Category</option>
							    <option value="panel-default">Chill</option>
							    <option value="panel-primary">Sad</option>
							    <option value="panel-success">Good</option>
							    <option value="panel-custom">Party</option>
							    <option value="panel-warning">Happy</option>
							    <option value="panel-danger">Angry</option>
							</select>
					</div>

					<div class="col-md-1 pull-left">
						<!-- Single button dropdown menu for attachments -->
						<select type="button" class="form-control" name="attach">
							<option>Attach</option>
						    <option value="one">Video</option>
						    <option value="two">Audio</option>
						    <option value="three">Images</option>
						</select>
					</div>

					<div class="col-md-6 pull-right">
						<!-- error checking goes here -->
						<!--<a href="javascript:%20check_empty()" id="submit">Send</a>-->
						<!-- type="submit" -->
					    <input type="submit" id="postSubmission" class="btn btn-default" value="post"></input>
					</div>
				</div>
			</form>
		</div>
	</div>

</html>
