<!doctype html>

<html>

	<div id="popup_container_form">
		<div id="newpost_form">
			<!-- action = "#" -->
			<form class="newPostForm" id="form" method="get" name="newPostForm" action="/newPostRe">
				<!-- add post title -->
				<input id="newPostTitle" name="newPostTitle" placeholder="Post Title" type="text"><br/>
				<!-- add text box -->
				<textarea id="newPostContent" name="newPostContent" placeholder="Enter text here"></textarea>
				<div id="newPostButtons" class="row">
					<!-- this feature takes up 6 column units -->
					<div class="col-md-1 pull-left">
							<!-- Single button dropdown menu for choosing category -->
							<select type="button" class="form-control" name="newPostCategory">
								<option>Category</option>
							    <option value="1">One</option>
							    <option value="2">Two</option>
							    <option value="3">Three</option>
							    <option value="4">Four</option>
							    <option value="5">Five</option>
							    <option value="6">Six</option>
							</select>
					</div>

					<div class="col-md-1 pull-left">
						<!-- Single button dropdown menu for attachments -->
						<select type="button" class="form-control" name="attach">
							<option>Attach</option>
						    <option value="one">Video</option>
						    <option value="two">Audio</option>
						    <option value="three">Images</option>
						</select>
					</div>

					<div class="col-md-6 pull-right">
						<!-- error checking goes here -->
						<!--<a href="javascript:%20check_empty()" id="submit">Send</a>-->
						<!-- type="submit" -->
					    <input type="submit" id="postSubmission" class="btn btn-default" value="post"></input>
					</div>
				</div>
			</form>
		</div>
	</div>

</html>
