<!doctype html>

<html>

	<div id="popup_container_form">
		<div id="newpost_form">
			<!-- action = "#" -->
			<form class="newPostForm" id="form" method="get" name="newPostForm" action="/newPostRe">
				<!-- add post title -->
				<input id="newPostTitle" name="newPostTitle" placeholder="Post Title" type="text"><br/>
				<!-- add text box -->
				<textarea id="newPostContent" name="newPostContent" placeholder="Enter text here"></textarea>
				<div id="newPostButtons" class="row">
					<!-- this feature takes up 6 column units -->
					<div class="col-md-6">
						<!-- Single button dropdown menu for attachments -->
							<div class="btn-group">
							  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							    Attach <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu">
							    <li><a href="#">Video</a></li>
							    <li><a href="#">Audio</a></li>
							    <li><a href="#">Images</a></li>
							    <li class="divider"></li>
							    <li><a href="#">Etc</a></li>
							  </ul>
							</div>
					</div>
					<div class="col-md-6">
						<!-- error checking goes here -->
						<!--<a href="javascript:%20check_empty()" id="submit">Send</a>-->
						<!-- type="submit" -->
					    <input type="submit" id="postSubmission" class="btn btn-default" value="post"></input>
					</div>
				</div>
			</form>
		</div>
	</div>

</html>
