<!doctype html>

<html>

	<div id="popup_container_panel">
		<div class="panel postFull">
			<div id="fullPostCategory">
				<div class="panel-heading clearfix">
	    			<h3 id="fullPostTitle" class="panel-title pull-left">placeholder</h3>
	    			<div class="btn-group pull-right">
	    				<a onclick="hidePopupPost()" class="btn btn-default btn-sm">bump</a>
	    				<a onclick="hidePopupPost()" class="btn btn-default btn-sm">close</a>
	    			</div>
	  		 	</div>
			 	<div id="fullPostInfo" class="panel-body">
			    	placeholder
			  	</div>
			</div>
		</div>
	</div>

</html>
