<!doctype html>

<html>
	<div class="panel panel-default postSnippet">
	  <div class="panel-heading">
		<h3 class="panel-title">Post title</h3>
		  </div>
	  <div class="panel-body">
	    {{postInfo}}
	  </div>
	</div>
</html>
