<!doctype html>

<html>
	<div id="postSnippet" class="panel panel-default postSnippet">
	  <div class="panel-heading">
		<h3 class="panel-title">Post title</h3>
		  </div>
	  <div class="panel-body">
	    List of all the silly post snippets here.
	  </div>
	</div>
</html>
