<!doctype html>

<html>

	<div id="popup_container_panel">
		<div class="panel panel-default postFull">
			<div class="panel-heading clearfix">
    			<h3 class="panel-title pull-left">Post title</h3>
    			<div class="btn-group pull-right">
    				<a onclick="hidePopupPost()" class="btn btn-default btn-sm">bump</a>
    				<a onclick="hidePopupPost()" class="btn btn-default btn-sm">close</a>
    			</div>
  		 	</div>
		 	<div class="panel-body">
		    	This is the full post text!
		  	</div>
	</div>

</html>
