<!doctype html>

<html>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<!-- page content here -->
		</div>
	</div>
</div>
				
	<div id="popup_container_panel">
		<div id="postFull" class="panel postFull">
			<div id="fullPostCategory">
				<div class="panel-heading clearfix">
	    			<h3 id="fullPostTitle" class="panel-title pull-left">0</h3>
	    			<div class="pull-right">
	    				<strong id="fullPostBumpCount">placeholder</strong>
	    				<a id="bumpButton" class="btn btn-default btn-sm">bump</a>
	    				<a onclick="hidePopupPost()" >
	    					<span class="glyphicon glyphicon-remove" aria-hidden="true" ></span>
	    					<span class="sr-only">Close</span>
	    				</a>
	    			</div>
	  		 	</div>
			 	<div id="fullPostInfo" class="panel-body">
			    	placeholder
			  	</div>
			</div>
		</div>
	</div>

</html>
