<!doctype html>

<html>

    <div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand">Menu</li>
			<li role="presentation"><a href="/">Home</a></li>
			<li class="menuSeparator"></li>
			<li role="presentation" class="active">Categories</li>
			<li class="menuSeparator"></li>
			<li role="presentation"><a href="/category/1">Grey</a></li>
			<li role="presentation"><a href="/category/2">Blue</a></li>
			<li role="presentation"><a href="/category/3">Green</a></li>
			<li role="presentation"><a href="/category/4">Purple</a></li>
			<li role="presentation"><a href="/category/5">Yellow</a></li>
			<li role="presentation"><a href="/category/6">Red</a></li>
			<li class="menuSeparator"></li>
			<li role="presentation">Help and Settings<li>
			<li class="menuSeparator"></li>
			<li role="presentation"><a href="/About">About</a></li>
			<li role="presentation"><a href="/Help">Help</a></li>
			<li role="presentation"><a href="/Account_Settings">Account Settings</a></li>
			<li role="presentation"><a id="logoutButton" href="/Login">Log Out</a> <br/> <br/> </li>
		</ul>
	</div>
	<!-- end sidebar-wrapper-->

</html>