<!doctype html>
	<title>AboutFeelzApp</title>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link href="css/bootstrap.min.css" rel="stylesheet">
			<link href="css/bootstrap-theme.min.css" rel="stylesheet">
			<link href="css/about_and_help.css" rel="stylesheet">
			<link href="css/feelzNaviBar.css" rel="stylesheet">
	</head>

	<body>

		<!-- fixed position navibar on top of screen -->
		{{>feelzNaviBar}}

		<center>
			<div class="page_title">
				<h1><b><u>About FeelzApp.</u></b></h1>
				</div>
			<div class="container">

			<p>FeelzApp is your new diary. You can post anonymously</br>
			or reveal your identity. Have a strong feeling? Happy? Sad?</br>
			Angry? Let it out on the FeelzApp. Did you read a post that</br>
			gave you the Feelz? Bump it to the top of the feed so others</br>
			can get their Feelz on too. We're all friends here, so be nice!</br>
			Enjoy!</br>
			</p>
		</center>

		<div class="footer">
			<footer>
				
					<a href="/">Back to Main Page</a>
			</footer>
		</div>
	</body>

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="js/bootstrap.min.js"></script>

</html>