<!doctype html>
	<title>AboutFeelzApp</title>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link href="/css/bootstrap.min.css" rel="stylesheet">
			<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
			<link href="/css/about_and_help.css" rel="stylesheet">
			<link href="/css/simple-sidebar.css" rel="stylesheet">
			<link href="/css/feelzNaviBar.css" rel="stylesheet">
			<link href="css/FeelzApp.css" rel="stylesheet">
	</head>

	<body>

		<div id="wrapper">
			<!-- fixed position navibar on top of screen -->
			{{>feelzNaviBarNoPost}}

			{{> sideBar}}

			<div id="page-content-wrapper" class="col-md-10"> 
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<!-- page content here -->
							<div class="panel panel-info">

								<div class="panel-heading">
									<h1 class="panel-title">About FeelzApp</h1>
								</div>

								<div class="panel-body">
									<div class="accordion">
										<div class="accordion-section">
											<a class="accordion-section-title" href="#accordion-1">About the App</a>
											
											<div id="accordion-1" class="accordion-section-content">
											<p>FeelzApp is your new diary. You can post anonymously or reveal your identity. Have a strong feeling? Happy? Sad? Angry? Let it out on the FeelzApp. Did you read a post that gave you the Feelz? Bump it to the top of the feed so others can get their Feelz on too. We're all friends here, so be nice! Enjoy!</br></p>
											</div>
										</div>
										<div class="accordion-section">
											<a class="accordion-section-title" href="#accordion-2">Our Team</a>
											
											<div id="accordion-2" class="accordion-section-content">
												<h6><b>Mona</b></h6>
												<img src="/images/mona.jpg">
												<p>Mona is senior at UCSD. She is majoring in Computer Science with a focus on graphics. Her hobbies include dancing, video games, and skiing.</p>

												<h6><b>Kevin</b></h6>
												<img src="/images/kevin.jpg">
												<p>Kevin is a junior at UCSD. He is majoring in Computer Engineering with a focus in Artificial Intelligence. His hobbies include playing basketball, working out, and listening to music.</p>

												<h6><b>Julia</b></h6>
												<img src="/images/julia.jpg">
												<p>Julia is junior at UCSD. She is majoring in Cognitive Science with a specialization in Human-Computer Interaction and a minor in Computer Science. Her hobbies include getting tattoos, watching movies, and hanging out with her cat.</p>
											</div>
										</div>
									</div>

							 	 </div>
							 
							 </div>

							<div class="footer">
								<footer>
									<a href="/">Back to Homepage</a>
								</footer>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- end page-content-wrapper -->
		</div>
		<!-- end wrapper-->

	</body>

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/sidebarSetup.js"></script>
	<script src="js/logout.js"></script>
	<script src="js/help_accordion.js"></script>

</html>