<!doctype html>

<html>
	<head>
		<title>AboutFeelzApp</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
		<!-- bootstrap css files -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<!-- feelzapp universal css files -->
		<link href="/css/simple-sidebar.css" rel="stylesheet">
		<link href="/css/feelzNaviBar.css" rel="stylesheet">
		<link href="css/FeelzApp.css" rel="stylesheet">
		<!-- page css files -->

		<!-- woopra a/b testing tracking script -->
		{{> tracking_code_script}}
	</head>

	<body>
		<div id="wrapper">
			<!-- fixed position navibar on top of screen -->
			{{>feelzNaviBarNoPost}}

			{{> sideBar}}

			<h3>FeelzApp Information</h3>
			<div id="page-content-wrapper" class="col-md-10"> 
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<!-- page content here -->
							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
								<div class="panel panel-info">
									<div class="panel-heading" role="tab" id="headingOne">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">About FeelzApp</a>
										</h4>
							    	</div>
									<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
										<div class="panel-body">
											FeelzApp is your new diary. You can post anonymously or reveal your identity. Have a strong feeling? Happy? Sad? Angry? Let it out on the FeelzApp. Did you read a post that gave you the Feelz? Bump it to the top of the feed so others can get their Feelz on too. We're all friends here, so be nice! Enjoy!
										</div>
									</div>
								</div>
								<div class="panel panel-info">
									<div class="panel-heading" role="tab" id="headingTwo">
										<h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Our Team</a>
										</h4>
									</div>
									<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
										<div class="panel-body">
											<h6><b>Mona</b></h6>
											<img src="/images/mona.jpg" class="help_images">
											<p>Mona is senior at UCSD. She is majoring in Computer Science with a focus on graphics. Her hobbies include dancing, video games, and skiing.</p>

											<h6><b>Kevin</b></h6>
											<img src="/images/kevin.jpg" class="help_images">
											<p>Kevin is a junior at UCSD. He is majoring in Computer Engineering with a focus in Artificial Intelligence. His hobbies include playing basketball, working out, and listening to music.</p>

											<h6><b>Julia</b></h6>
											<img src="/images/julia.png" class="help_images">
											<p>Julia is junior at UCSD. She is majoring in Cognitive Science with a specialization in Human-Computer Interaction and a minor in Computer Science. Her hobbies include getting tattoos, watching movies, and hanging out with her cat.</p>
										</div>
									</div>
								</div>
								<div class="panel panel-info">
									<div class="panel-heading" role="tab" id="headingThree">
										<h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Contact</a>
										</h4>
									</div>
									<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
										<div class="panel-body">
											<h6><b>Contact us at:</b></h6>
											<p>thisIsFake@feelzapp.com</p>
										</div>
									</div>
								</div>
							</div>

							<div class="footer">
								<footer>
									<a href="/">Back to Homepage</a>
								</footer>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- end page-content-wrapper -->
		</div>
		<!-- end wrapper-->
	</body>

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<!-- feelzApp universal js files -->
	<script src="/js/feelzApp.js"></script>
	<!-- page js files -->

</html>