<!doctype html>

<html>
<head>
	<title>FeelzApp</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no ">
	<!-- bootstrap css files -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<!-- feelzapp universal css files -->
	<link href="/css/simple-sidebar.css" rel="stylesheet">
	<link href="/css/feelzNaviBar.css" rel="stylesheet">
	<link href="/css/FeelzApp.css" rel="stylesheet">
	<!-- page css files -->
	<link href="/css/accSettings.css" rel="stylesheet">


<body>

	<div id="wrapper">

		<!-- fixed position navibar on top of screen -->
		{{>feelzNaviBarNoPost_alt}}

		<div id="page-content-wrapper" class="col-md-10"> 

		<div class="panel panel-info">

				<div class="panel-heading">
					<h1 class="panel-title">Account Settings</h1>
				</div>

				<div class="panel-body">
					<p>Userame: {{username}}</p>
					<p>Email: {{email}}</p>

					<a id="changePasswordButton" name="changePasswordButton"type="button">Change password</a>

					<!-- change password form method="get" action="/changePassword" -->
					<form id="changePasswordForm"  name="changePasswordForm" " onsubmit="return checkForm(this);>
						Old Password: <input id="oldPassword" type="text" name="oldPassword" placeholder="old password"><br>
						New Password: <input id="newPassword" type="password" name="pwd1" placeholder="new password"><br>
						Confirm New Password: <input id="pwd2" type="password" name="confirmNewPassword" placeholder="new password"><br>
						<input type="submit" id="submitChanges" class="btn btn-default" value="Update"></input>
					</form>

					<p>Facebook: </p>

			 	 </div>
			</div>
			
			<a href="/">Back to Homepage</a>

		</div>
	</div>

</body>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<!-- feelzApp universal js files -->
	<script src="/js/feelzApp.js"></script>
	<!-- feelzApp universal js files -->
	<script src="/js/changePassword.js"></script>


</html>