<!doctype html>

<html>
	<head>
		<title>FeelzApp</title>	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no ">
		<!-- bootstrap css files -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<!-- feelzapp universal css files -->
		<link href="/css/simple-sidebar.css" rel="stylesheet">
		<link href="/css/feelzNaviBar.css" rel="stylesheet">
		<link href="/css/FeelzApp.css" rel="stylesheet">
		<!-- page css files -->
		<link href="/css/posts.css" rel="stylesheet">
	</head>

	<!-- body for the titlebar description and newPost popup -->
	<body>
		<!-- fixed position navibar on top of screen -->
		{{>feelzNaviBar_alt}}

		<!-- new post popup form -->
		{{> newPost}}

		<!-- home page posts list-->
		<div class="container">
			{{#each posts}}
				{{>postSnippet}}
			{{/each}}
		</div>

		<!-- post popup -->
		{{>postFull}}
	</body>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<!-- feelzApp universal js files -->

	<!-- page js files -->
	<script src="/js/posts.js"></script>

</html>
