/* universal css styling for FeelzApp
 */


 /* formatting for the navigation bar
  *
  * padding for space for fixed to top
  * fix margins for aligning right
  */
body { 
	padding-top: 50px; 
	text-align: center;
    text-shadow: above;
    background-color:#B8DBFF;
    background-origin: border-box;	
}