/* universal css styling for FeelzApp
 */


 /* formatting for the navigation bar
  *
  * padding for space for fixed to top
  * fix margins for aligning right
  */
body { 
	padding-top: 50px; 
	text-align: center;
	text-shadow: above;
	background-color:#B8DBFF;
	background-origin: border-box;	
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
}
h3 {
	font-family:Arial, Helvetica, sans-serif;
}
h4 {
	font-family: Arial, Helvetica, sans-serif;
}
h5 {
	font-family: Arial, Helvetica, sans-serif;
}
h6 {
	font-family: Arial, Helvetica, sans-serif;
}

.panel-info {
	margin-top: 15px;
	margin-left:auto;
	margin-right: auto;
	width: 90%;
	height: 30%;
}