/* login page css
 */

#boxContainer {
	margin-top: 10%;
}

#forgotPassText {
	float: right; 
	font-size: 80%; 
	position: relative; 
	top:-10px;
}

.panel-body {
	padding-top: 15px;
}

#login-alert {
	display: none;
}

.inputStyle {
	margin-bottom: 15px;
}

#accountStat {
	border-top: 1px solid#888; 
	padding-top: 15px; 
	font-size: 85%;
}

#buttonFormGroup {
	margin-top: 10px;
}