body{
	background-color: #B8DBFF;
	}
.container{
	background-color: #FFFFFF;
	opacity: .95;
	background-position:center;
	}
	
.page_title{
	background-position: center;
	}
.footer{
	text-align: center;
	}