/* see intoHci.css for examples from lab 3

 add the following:

 all styling for the app 
  not needed for assignment 4

 */


 /* formatting for the navigation bar
  *
  * padding for space for fixed to top
  * fix margins for aligning right
  */
body { 
	padding-top: 70px; 
}

.navbar-header {
	margin-left:5px;
	width:98%;
}

 /* post classes */
 .post {

 }

 .snippet p {

 }

 .postFormat p {

 }

 /* images */

 img .thumbnail {

 }

 /* text area for posting */
textarea {
	width: 98%;
}



