/* see intoHci.css for examples from lab 3

 add the following:

 all styling for the app 
  not needed for assignment 4

 */


 /* formatting for the navigation bar
  *
  * padding for space for fixed to top
  * fix margins for aligning right
  */

body { 
	padding-top: 70px; 
	text-align: center;
}

.navbar-header {
	margin-left:5px;
	width:98%;
}

 /* post classes */
 .post {

 }

 .snippet p {

 }

 .postFormat p {

 }

 /* images */

 img .thumbnail {

 }

 /*  new post page */
textarea {
	padding-left: 1%;
	width: 98%;
}

.newPostButton {

}

.popover {
	max-width: 100%;
	right:1% !important;    
    left: 1% !important;
    bottom: 1% !important;
    margin-right:1%;
}

.popover .arrow {
	right:0;
    margin-right:2%;
}