<!doctype html>

<html>

	<div class="panel {{postCategory}} postSnippet">
	  <div class="panel-heading">
		<h3 class="panel-title">{{postTitle}}</h3>
		  </div>
	  <div class="panel-body">
	    {{postInfo}}
	  </div>
	</div>

</html>
