<!doctype html>

<html>
	<!-- fixed position navibar on top of screen -->
	<nav id="feelzNaviBar" class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				
				<!-- navibar title -->
				<a class="navbar-brand" href="/menu.html"><b>FeelzApp</b></a>

				<div class="navbar-left pull-left">
					<p class="navbar-text">Hi, {{username}}!</p>
				</div>
				

		</div>
	</nav>
</html>